.container {
    display: flex;
    width: 100%;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 1500px;
    padding: 1.5rem 2rem;
}

.logo {
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 2rem;
    cursor: pointer;
}

.scanner {
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    /* transition: transform 1s ease; */
}


/* CSS */
.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}


.search {
    background-color: rgb(246, 242, 242);
    border-radius: 4px;
    border-style: none;
    box-sizing: border-box;
    color: rgb(3, 3, 3);
    cursor: pointer;
    display: inline-block;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    overflow: hidden;
    padding: 9px 20px 8px;
    position: relative;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 90%;
  }


.button-31:hover,
.button-31:focus {
  opacity: .75;
}




/* .scanner:hover,
.scanner:focus {
    transform: scale(1.1);
} */



@media (max-width: 600px) {
    .logo {
        letter-spacing: 1px;
        font-size: 1.5rem;
    }
    .wrapper {
        padding: 1.5rem 1.5rem;
    }
    .scanner {
        letter-spacing: 1px;
        font-size: 1rem;
    }
}

.divsearch {
    display: inline-block;
}